* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    text-align: center;
    background-color: lemonchiffon;
}
div {
    margin: 10px;   
    font-size: 23px;
}

#külső {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#kérdés_szöveg {
    border: 2px groove black;
    border-radius: 12px;
    background-color: burlywood;
}

#középső {
    display:flex;
    flex-direction: row;
    flex-grow:1;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
    border: 2px groove black;
}

#vezérlő {
    display: flex;
    flex-basis:auto;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 0;
}

#kép1 {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;
    max-width: 100%;
    height: auto;
}

.gomb {
    padding: 20px;
    width: 80px;
    border: 3px groove black;
    background-color: lightseagreen;
    border-radius: 5px 25px;
    text-align: center;
}

.kerdes {
    border-radius: 12px;
    border: 2px groove black;
}

.kattintható:hover {
    background-color:darksalmon;
    color: white;
}

.jó{
    background-color: green;
}

.rossz{
    background-color: red;
}
[id*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 750px) {
    body {
        background-color: lightblue;
    }
    #középső {
        display: flex;
        flex-direction: column;
    }

    #válaszok{
        width: 25%;
        font-weight: bold;
    }

    #kép {
        width: 50%;
    }

}