* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    text-align: center;
    background-color: lemonchiffon;
}
div {
    margin: 10px;   
}

#külső {
    height: 100%;
    display:flex;
    flex-direction: column;
}

#kérdés_szöveg {   
}

#középső {
    display:flex;
    flex-direction: row;
    flex-grow:1;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-basis:auto;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 0;
}

#kép {
    flex-grow: 0;
    flex-shrink: 0;
}
img {
    max-width: 100%;
}

#kép1 {
    
    max-width: 100%;
    height: auto;
}

.gomb {
    padding: 20px;
    width: 80px;
    border: 3px groove black;
    background-color:lightseagreen;
}

.kerdes {
}

.kattintható:hover {
    background-color:darksalmon;
    color: white;
}

.jó{
    background-color: green;
}

.rossz{
    background-color: red;
}
[id*="col-"] {
    width: 100%;
}
@media only screen and (max-width: 750px) {
    body {
        background-color: lightblue;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    #válaszok{
        width: 25%;
        font-weight: bold;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    #kép {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}